html, body {
	margin: 0;
	padding: 0;
}

html {
	background: url(https://content-eu.drive.amazonaws.com/cdproxy/templink/OY1Vdeex36RxJD_YWseDwOOaOW_cP7WlQIum8_T5ApcLAYspN/alt/thumb?viewBox=1022) no-repeat center center fixed;
	background-size: cover;
}

body {
	font-family: 'Franklin Gothic Medium', sans-serif;
	font-weight: 10;
}

.container {
	margin: 0 auto;
	max-width: 940px; 
	padding:0 10px; 
}

.header {
  height: 700px;
  text-align: center; 
}

.header .container {
	position:relative;
	top: 200px;
}

.header h1 {
	font-size: 100px;
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 80px;
	color: black;
}

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
	color: black;
}

.btn {
	padding: 8px 26px 8px 26px;
  background-color: black;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.btn:hover {
	background: #117bff;
	cursor: pointer; 
	transition: background .5s;  
}

.bar {
	background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.8;
}

.nav ul {
	list-style: none;
	margin: 0 auto; 
	padding-top:10px;
  padding-bottom: 10px;  
	text-align: center; 
}

li {
	display:inline-block;
}

.menu{
	color: white;
  width: 75px;
  text-decoration:none;
  padding: 3px 42px 3px 42px;
}
